@charset "UTF-8";
/* CSS Document */
body {
	font-family: "Lato", sans-serif;
	color: #676858;
	font-weight: 300;
}

.text-muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 100;
}

.text-small {
	font-size: 11px;
}

.text-lower {
	font: 200 40px "Lato", sans-serif;
}

.text-mid {
	font-size: 36px;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 20px;
}

hr {
    border: none;
    height: 4px;
    /* Set the hr color */
    color: #747704; /* old IE */
    background-color: #747704; /* Modern Browsers */
}